@charset "utf-8";
/* CSS Document */

html, body {
  height: 100%;
}
body {
  position: relative;
  background-color: #d6e03d;
  font-family: Verdana, sans-serif;
  font-size: 10pt;
  color: #333;
}
.clear {
  clear: both;
  display: block;
}
.content {
  width: 960px;
  margin: auto;
}
strong,
b {
  font-weight: bold;
} 
input,
textarea {
  border: 1px solid #999;
}
a {
  cursor: pointer;
  color: #ec008c; 
  outline: none;
}
a:focus {
  outline:none;
}

/* header */

#header {
  height: 170px;
  background-color: #0c0c0c;
}
#header .logo a {
  display: block;
  float: left;
  height: 150px;
  width: 280px;
  background: url(../images/faza-logo.png) left center no-repeat;
}
#header .menu {
  float: right;
  font-weight: bold;
  font-size: 100%;
}
#header .menu ul {
}
#header .menu ul li {
  float: left;
}
#header .menu ul li a {
  width: 113px;
  height: 90px;
  line-height: 90px;
  display: block;
  margin-top: 0;
  margin-left: -10px;
  color: #fff;
  background: url(../images/menu.png) left top no-repeat;
  padding-top: 10px;
  padding-left: 20px;
}
#header .menu ul li a:hover {
  background: url(../images/menu-hover.png) left top no-repeat;
}
#header .menu ul li a.current {
  color: #0c0c0c;
  background: url(../images/menu-current.png) left top no-repeat;
}


#header .search {
  float: right;
  margin-top: -70px;
  width: 30px;  
  overflow: hidden;
  display: block;
}
#header .search .panel{
  width: 190px; 
  display: block;
}
#header .search .image {
  display: block;
  float: left;
}
#header .search .form {
  display: block;
  float: left;
  line-height: 48px;
  height: 48px;
  background-color: #bbb;
  width: 150px;   
}
#header .search input.q{
padding: 3px;
width: 130px;   
}


/* index */

#index .jcarousel {
  width: 960px;
  height: 320px;
  margin: auto;
  *margin-top: -20px;
}
#index .jcarousel .jcarousel-clip {
  overflow: hidden;
  height: 270px;
}
#index .jcarousel ul {
  height: 270px;
}
#index .jcarousel ul li {
  position: relative;
  width: 320px;
  height: 270px;
  text-align: center;
}
#index .jcarousel ul li img {
    line-height: 270px;
}
#index .jcarousel .description {
  position: absolute;
  bottom: 50px;
  left: 0;
  text-align: left;
}
#index .jcarousel .description .title {
  font-size: 150%;
  font-weight: bold;
  color: #ec008c;
  padding: 10px 15px 0 15px;
  background: url(../images/white75.png) center center repeat;
  display: inline-block;
  width: auto;
}
#index .jcarousel .description .text {
  font-size: 100%;
  color: #000;
  padding: 5px 15px 10px 15px;
  background: url(../images/white75.png) center center repeat;
  display: inline-block;
  width: auto;
}
#index .jcarousel .control {
  height: 50px;
  background: url(../images/jcarousel-shadow.png) center center no-repeat;
  text-align: center;
  font-size: 150%;
}
#index .jcarousel .control a {
  color: #999;
  line-height: 50px;
  margin: 0 5px;
}
#index .jcarousel .control a:hover {
  color: #ec008c;
}
#index .jcarousel .control a.selected {
  color: #ec008c;
  background: url(../images/jcarousel-arrow.gif) center top no-repeat;
}
#index .jcarousel .nav .prev {
  display: block;
  position: absolute;
  left: -35px;
  top: 50%;
  margin-top: -12px;
  width: 20px;
  height: 23px;
  background: url(../images/jcarousel-prev-hover.png) center center no-repeat;
  cursor: pointer;
}
#index .jcarousel .nav .prev:hover {
  background: url(../images/jcarousel-prev.png) center center no-repeat;
}
#index .jcarousel .nav .next {
  display: block;
  position: absolute;
  right: -35px;
  top: 50%;
  margin-top: -12px;
  width: 20px;
  height: 23px;
  background: url(../images/jcarousel-next-hover.png) center center no-repeat;
  cursor: pointer;
}
#index .jcarousel .nav .next:hover {
  background: url(../images/jcarousel-next.png) center center no-repeat;
}
#index .catalog {
  width: 880px;
  margin: auto;
  height: 155px;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}
#index .catalog .content {
  padding-bottom: 50px;
  border-bottom: 1px solid #c9c9c9;
}
#index .catalog ul {
  margin: auto;
}
#index .catalog ul li {
  display: block;
  float: left;
  margin-right: 10px;
  text-align: center;
}
#index .catalog ul li:last-child {
  margin-right: 0px;
}
#index .catalog ul li a {
  /*width: 155px;*/
  width:125px;
  padding: 0 5px;
  display: block;
  background: top center no-repeat;
  background-image: url(../images/catalog-fon-hover.png);
  text-decoration: none;
}
#index .catalog ul li a:hover {
  background-image: url(../images/catalog-fon.png);
}
#index .catalog ul li a .icon {
  display: block;
  height: 115px;
  background: center center no-repeat;
  margin-bottom: 10px;
}
#index .catalog ul li a .title {
  display: block;
  padding: 3px 0;
  color: #666;
  font-size: 75%;
}
#index .catalog ul li a:hover .title {
  color: #ec008c;
  background-color: #fff;
}
#index .catalog a, #index .catalog a span {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#index .intro {
  position: relative;
  width: 90%;
  margin: auto; 
  border: 5px solid #c3ca4b;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px; 
  margin-bottom: 20px;
  font-size: 80%;
}

#index .intro .header {
  background: url(../images/index-intro-title-fon.gif) center center;
  padding: 10px 0;
}
#index .intro .header .site {
  float: left;
  padding: 0 25px;
  border-right: 1px solid #ccc;
  color: #ec008c;
  font-weight: bold;
}
#index .intro .header .title {
  float: left;
  padding-left: 25px;
  color: #666;  
}
#index .intro .header .title b {
  color: #ec008c;
}
#index .intro .header .more {
  float: right;
  padding-right: 60px;
  background: url(../images/index-intro-title-more.gif) no-repeat right center; 
}
#index .intro .header .more a {
  font-style: italic;
  color: #999;  
  text-decoration: underline;
}
#index .intro .header .more a:hover {
  color: #ec008c;
}
#index .intro .text {
  padding: 15px;
  padding-top: 5px;
  display: none;
  background-color: #fff;
}
#index .intro .text p {
  margin-top: 10px;
}



#index .banners {
  margin-top: 30px;
  margin-bottom: 60px;
}
#index .banner {
  float: left;
  margin-left: 51px;
  position: relative;
  width: 251px;
  height: 208px;
}
#index .banner img {
  width: 100%;
  height: 100%;
}
#index .banner img.a {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
#index .banner img.b {
  position: absolute;
  left: 0;
  top: 0;
}


/* inside */

#breadcrumb {
  color: #ccc;
  font-size: 100%;
  line-height: 35px;
  background: #474747 url(../images/breadcrumb-fon.jpg) center center no-repeat;
  border-top: 1px solid #999;
  *margin-top: -20px;
}
#breadcrumb a {
  color: #ccc;
}
#breadcrumb a:hover {
  color: #ec008c;
}
#center {
  min-height: 500px;
}



#center .page {
width: 690px;
float: left;
}
#center .page h1 {
color: #ec008c;
font-size: 200%;
margin-top: 20px;
margin-bottom: 15px;
}
#center .page h2 {
color: #ec008c;
font-size: 150%;
margin-top: 20px;
margin-bottom: 15px;
}

#center .page h3 {
color: #ec008c;
font-size: 125%;
margin-top: 20px;
margin-bottom: 15px;
}

#center .page p {
  margin-top: 10px;
}
#center .page ul {
  margin-left: 20px;
  margin-top: 10px;
}
#center .page ul li {
  list-style: disc;
}
#center .page ol {
  margin-left: 20px;
  margin-top: 10px;
}
#center .page ol li {
  list-style: decimal;
}
#center .page label.error {
  font-size: 80%;
  font-style: italic;
  color: #ec008c;
  display: block;
  clear: both;
}
#center .page input,
#center .page textarea {
  padding: 5px;
  font-family: Verdana, sans-serif; 
}


#center .page .date {
  font-weight: bold;
  margin-top: -10px;
}
#center .page .more {
  font-weight: bold;
  margin-top: -5px;
}
#center .page  .more a {
  color: #666;
  text-decoration: underline;
}


#center .content {
  position: relative;
}
#center .products {
  width: 690px;
  float: left;
}
#center .product {
  width: 220px;
  height: 220px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #fff;
  text-align: center;
  position: relative;
}
#center .product a {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #ec008c url(../images/product-plus.png) center center no-repeat;
}
#center .product a .title {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  left: 0;
  color: #fff;
  font-size: 120%;
  z-index: 20;
}
#center .categories .product a .title {
  font-size: 120%;
  z-index: 100;
  color: #ec008c;
  background: rgba(255,255,255,.8);
}
#center .categories .product a:hover .title {
  color: #fff;
  background: none;
}
#center .subcategories .product a .title {
  font-size: 120%;
  z-index: 100;
  color: #ec008c;
  background: rgba(255,255,255,.8);
}
#center .subcategories .product a:hover .title {
  color: #fff;
  background: none;
}


#center .product a .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 30;
  line-height: 220px;
}
#center .product a .image img {
  vertical-align: middle;
}


#center .navigator {
  float: right;
  width: 250px;
}
#center .navigator li {
}
#center .navigator li a {
  color: #333;
}
#center .navigator a.selected {
    font-weight: bold;
    color: #ec008c;
}
#center .navigator li a:hover {
  color: #ec008c;
}
#center .navigator li.current a {
  color: #ec008c;
  text-decoration: underline;
}
#center .category {
  margin-top: 30px;
  font-size: 110%;
}

#center .category li.current,
#center .subcategory li.current
{
  background: url(../images/navigator-arrow.gif) left center no-repeat;
}
#center .subcategory {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 100%;
}
#center .category li
{
  margin-bottom: 5px;
}
#center .subcategory li
{
  margin-bottom: 10px;
}

/* product */

#product {
  background: #fff;
  position: relative;
  width: 680px;
  margin: auto;
  float: left;
}
#product  .title {
  position: absolute;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  color: #ec008c;
  font-size: 175%;
  z-index: 50;
  font-weight: bold;
}
#product  .class {
  width: 90px;
  height: 70px;
  right: 20px;
  top: 20px;
  position: absolute;
  z-index: 50;
  background: top right no-repeat;  
}
#product  .info {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 50;
}
#product  .info a {
  display: block;
  width: 162px;
  height: 53px;
  background: url(../images/product-info.png) center center no-repeat;
}
#product  .description {
  position: absolute;
  width: 100%;
  height: 510px;
  top: 0; 
  left: 0;  
  color: #fff;
  background: url(../images/black75.png) center center repeat;
  z-index: 30;
  display: none;
}
#product  .description .intro{
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 120px;
}
#product  .description .table,
#product  .description .list,
#product  .description .colors
{
  margin: 15px 30px;
  border-top: 1px solid #999;
  padding-top: 10px;
  padding-left: 50px;
}
#product  .description .table td
{
  padding-right: 15px;
}
#product  .description .list ul li
{
  list-style: disc;
  margin-left: 15px;
}
#product  .description .color {
  width: 20px;
  height: 20px;
  background: #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-left:10px;
}
#product .jcarousel {
  width: 680px;
  height: 510px;
  background: #fff;
  margin: auto;
  margin-top: 0;
}
#product .jcarousel .jcarousel-clip {
  overflow: hidden;
  height: 510px;
}
#product .jcarousel ul {
  height: 510px;
}
#product .jcarousel ul li {
  position: relative;
  width: 680px;
  height: 510px;
  text-align: center;
}
#product .jcarousel .control {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  background: none;
  text-align: center;
  font-size: 150%;
}
#product .jcarousel .control a {
  color: #999;
  line-height: 50px;
  margin: 0 5px;
}
#product .jcarousel .control a:hover, 
#product .jcarousel .control a.selected {
  color: #ec008c;
}
#product .jcarousel .nav .prev {
  display: block;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -12px;
  width: 20px;
  height: 23px;
  background: url(../images/jcarousel-prev-hover.png) center center no-repeat;
  cursor: pointer;
}
#product .jcarousel .nav .prev:hover {
  background: url(../images/jcarousel-prev.png) center center no-repeat;
}
#product .jcarousel .nav .next {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -12px;
  width: 20px;
  height: 23px;
  background: url(../images/jcarousel-next-hover.png) center center no-repeat;
  cursor: pointer;
}
#product .jcarousel .nav .next:hover {
  background: url(../images/jcarousel-next.png) center center no-repeat;
}

/* footer */


#nav  {
  font-size: 80%;
  margin-top: 20px;
}
#nav .top {
  float:right;
  margin-top: -20px;
}
#nav .content {
  padding: 10px 0;
  border-top: 1px solid #999;
}
#nav  a {
  color: #666;
}
#nav  a:hover {
  color: #333;
}

#footer {
  height: 100px;
  font-size: 75%;
  color: #666;
}
#footer a {
  color: #666;
  text-decoration: underline; 
}
#footer .content {
  padding: 30px 0;
}
#footer .buttons {
  float: left;
}
#footer .copyright {
  float: left;
  margin-left: 30px;
}
#footer .viadesign {
  float: right;
}
#footer .viadesign .logo {
  padding: 3px 5px;
  text-decoration: none;
  background-color: #ec008c;
  color: #fff;
  margin-left: 5px;
}


/* edit page */

#editpage {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 5px 6px;
  background: #db1174;
  color: #fff;
  display: block;
  font-weight: bold;
}
#editpage:hover {
  background: #ffffcc;
  color: #000;
}


/* fix */
#index .banners {
  padding: 0 160px;
}
  
